<h1 class="page-header">Novi autor</h1>
<form class="k-form k-form-vertical" kendo-validator="validator" ng-submit="addNewAuthor()">
    <ul id="fieldlist">
        <li class="k-form-field">
            <label for="fullname" class="k-form-label">Ime</label>
            <span class="k-form-field-wrap">
                <input class="form-control" ng-model="author.firstName" name="firstName" id="firstName" required />
                <span class="k-invalid-msg" data-for="firstName"></span>
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Prezime</label>
            <span class="k-form-field-wrap">
                <input class="form-control" ng-model="author.lastName" name="lastName" id="lastName" required />
                <span class="k-invalid-msg" data-for="lastName"></span>
            </span>
        </li>
        <li class="k-form-field">
            <label for="fullname" class="k-form-label">Bilješka</label>
            <span class="k-form-field-wrap">
                <input class="form-control" ng-model="author.note" name="note" id="note" />
                <span class="k-invalid-msg" data-for="note"></span>
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Opis</label>
            <span class="k-form-field-wrap">
                <input class="form-control" ng-model="author.description" name="description" id="description" />
                <span class="k-invalid-msg" data-for="description"></span>
            </span>
        </li>
        <li class="k-form-buttons">
            <button class="k-button k-primary" type="submit">Submit</button>
        </li>
    </ul>
</form>
