<h1 class="page-header">{{author.firstName}} {{author.lastName}}</h1>
<form class="k-form k-form-vertical"">
    <ul id="fieldlist">
        <li class="k-form-field">
            <label for="fullname" class="k-form-label">Ime</label>
            <span class="k-form-field-wrap">
                <input readonly class="form-control" ng-model="author.firstName" name="firstName" id="firstName" required />
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Prezime</label>
            <span class="k-form-field-wrap">
                <input readonly class="form-control" ng-model="author.lastName" name="lastName" id="lastName" required />
            </span>
        </li>
        <li class="k-form-field">
            <label for="fullname" class="k-form-label">Bilješka</label>
            <span class="k-form-field-wrap">
                <input  readonly class="form-control" ng-model="author.note" name="note" id="note" />
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Opis</label>
            <span class="k-form-field-wrap">
                <input readonly class="form-control" ng-model="author.description" name="description" id="description" />
            </span>
        </li>
        <li class="k-form-field">
            <span class="k-form-field-wrap">
                <label for="userCreated">Kreirao</label>
                <input readonly name="usercreated" type="text" class="form-control" id="usercreated" [required="string" ] value={{author.userCreated.fullName}} />
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Zadnje ažurirao</label>
            <span class="k-form-field-wrap">
                <input readonly name="usercreated" type="text" class="form-control" id="usercreated" [required="string" ] value={{author.userLastModified.fullName}} />
            </span>
        </li>
        </ul>
</form>