<h1 class="page-header">{{book.title}}</h1>

<form class="k-form k-form-vertical" ">
    <ul id="fieldlist">
        <li class="k-form-field">
            <label for="fullname" class="k-form-label">Ime</label>
            <span class="k-form-field-wrap">
                <input readonly class="form-control" ng-model="book.title" name="title" id="title" required />
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Prezime</label>
            <span class="k-form-field-wrap">
                <input readonly class="form-control" ng-model="book.author.fullName" name="author" id="author" required />
            </span>
        </li>     
        <li class="k-form-field">
            <label for="search" class="k-form-label">Opis</label>
            <span class="k-form-field-wrap">
                <input readonly class="form-control" ng-model="book.description" name="description" id="description" />
            </span>
        </li>
        <li class="k-form-field">
            <span class="k-form-field-wrap">
                <label for="userCreated">Kreirao</label>
                <input readonly name="usercreated" type="text" class="form-control" [required="string" ] value={{book.userCreated.fullName}} />
            </span>
        </li>
        <li class="k-form-field">
            <label for="search" class="k-form-label">Zadnje ažurirao</label>
            <span class="k-form-field-wrap">
                <input readonly name="usercreated" type="text" class="form-control" [required="string" ] value={{book.userLastModified.fullName}} />
            </span>
        </li>
    </ul>
</form>